input, textarea, select {
  appearance: none;
  width: 100%;
  padding: .75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-default);

  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: .25rem;
}

input:focus, textarea:focus, select:focus {
  outline: .25rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-highlight);
  outline-offset: .1px;
}